Theme {{ .Theme.ID }} by {{ .Theme.Admins }}

<ul>
    {{ range $commit := .Commits }}
        <li>
            <a href="/theme/{{ $.Theme.ID }}/commit/{{ $commit.Version }}">v{{ $commit.Version }}</a>
            {{ firstline $commit.Message }}
        </li>
    {{ end }}
</ul>
